# This owners will be the default owners for everything
#in the repo.             

               @umar404
               
               
               ♡シ  { اے خــؔــدا تیــؔــرے کــؔــن کــؔــے بغــؔــیر فقــؔــط خــؔــاک ہــؔــوں میــؔــں } 💸🌏  .
               
